.grid-square {
  width: 30px;
  height: 30px;
  background-color: black;
  float: left;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer; }

.grid-row {
  height: 30px;
  user-select: none; }
