.grid-square {
  width: 40px;
  height: 40px;
  border: 2px solid #FFFFFF;
  background-color: black;
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer; }

.grid-row {
  height: 30px;
  user-select: none;
  text-align: center;
  margin: 0 auto; }
