body {
  background: #000000;
  font-size: 16px;
  font-family: Impact, Charcoal, sans-serif;
  user-select: none;
  color: #e3e3e3; }

h1, h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif; }

h1 {
  width: 800px;
  font-size: 5rem;
  margin: 50px auto 0 auto;
  border-bottom: 2px solid #e3e3e3;
  padding: 40px; }

h2 {
  display: inline-block;
  font-size: 2.5rem;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px; }

header {
  width: 800px;
  margin: 0 auto 50px auto;
  border-bottom: 2px solid #e3e3e3; }
  header .counter {
    float: right; }
  header p {
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif;
    text-align: center;
    margin: 10px; }

section {
  border: 2px solid #e3e3e3;
  width: 800px;
  margin: 50px auto;
  font-family: 'EB Garamond', serif;
  text-align: center; }
  section p {
    font-size: 1.5rem; }
  section div {
    height: 60px;
    color: #FF0000;
    padding-top: 20px;
    font-size: 1.5rem; }
  section form {
    font-size: 1.5rem; }

.grid-square {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.5s;
  padding-top: 4px; }

.grid-square-unclicked {
  color: #e3e3e3;
  border: 2px solid #e3e3e3; }

.grid-square-clicked {
  color: #FFD700;
  border: 2px solid #FFD700; }

.grid-square-winner {
  color: #000000;
  border: 2px solid #0f9600;
  background: #0f9600; }

.grid-square-unclicked:hover {
  background-color: #e3e3e3;
  color: #000000;
  border-color: #000000; }

.grid-row {
  height: 50px;
  user-select: none;
  text-align: center;
  margin: 0 auto; }
